export COLORS_PAR_HCLOUD_TOKEN=REPLACE_ME
export COLORS_PAR_CLOUDFLARE_API_TOKEN=REPLACE_ME
export COLORS_PAR_R2_ACCESS_KEY_ID=REPLACE_ME
export COLORS_PAR_R2_SECRET_ACCESS_KEY=REPLACE_ME
export COLORS_PAR_CLICKHOUSE_ADMIN_PASSWORD=REPLACE_ME
export COLORS_PAR_CLICKHOUSE_METABASE_PASSWORD=REPLACE_ME
export COLORS_PAR_CLICKHOUSE_DBT_PASSWORD=REPLACE_ME
export COLORS_PAR_CLICKHOUSE_INTERSERVER_SECRET=REPLACE_ME
export COLORS_PAR_METABASE_ADMIN_EMAIL=REPLACE_ME
export COLORS_PAR_METABASE_ADMIN_PASSWORD=REPLACE_ME
export COLORS_PAR_METABASE_DB_PASSWORD=REPLACE_ME
export COLORS_PAR_METABASE_ENCRYPTION_SECRET_KEY=REPLACE_ME
